.article {
  min-height: 416px;
}

.article .card-content .newspaper-logo {
  width: 60px;
}

.article .card-content {
  padding: 15px !important;
}

.article .article-title {
  font-size: 1.5rem !important;
  line-height: 117% !important;
  margin: 0.3rem 0 0.3rem 0 !important;
}

.card-image img {
  height: 170px !important;
}

.article-section {
  position: absolute;
  bottom: 5px;
}
